<div class="yield">
	<div class="w">
		<div class="herd">
			<%- title "New Herd" %>
			<ul class="chat-list">
			<% @herd.grunts.each do |grunt| %>
				<li><%= grunt.message %></li>
			<% end %>
			</ul>

			<%= form_for @grunt do |f| %>
			<% if @grunt.errors.any? %>
				<div id="error_explanation">
					<h2><%= pluralize(@grunt.errors.count, "error") %> prohibited this major from being saved:</h2>
					<ul>
						<% @grunt.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
						<% end %>
					</ul>
				</div>
			<% end %>
				<%= f.text_field :message %>

              <input name="herd_id" type="hidden" value="1" />
				<%= f.hidden_field :yak_id, :value => 1 %>
				<div class="text-center lg-margin">
					<%= f.submit %>
				</div>
			<% end %>
		</div><!-- /herd -->
		<div class="herd-sb">


		</div><!-- /sb -->
	</div><!-- /w -->
</div><!-- /yield -->
