<%- title "Roamin'" %>

<div class="yield">
	<div class="w">
		<div class="herd-hdr">
			<%= link_to 'Mozy back to the range', root_path, {:class => 'i-leftarrow'} %>
		</div><!-- /herd hdr -->
		<div class="herd" data-lat="<%= @herd.geo_lat %>" data-long="<%= @herd.geo_long %>" data-yakinherd="<%= yak_in_herd %>" data-herdid="<%= @herd.id %>" data-radius="<%= @herd.herd_radius %>">
			<%= form_for Grunt.new, :html => { :multipart => true }, :remote => true do |f| %>
				<%= f.text_field :message, :placeholder => ["But seriously, how can yaks see through all that hair?", "What noise does the yak make?", "Did you know that yak polo is a real thing?", "Did you know that the reclusive yakalo exists?", "Did you know that wild yaks are so chill, they only have one natural predator?", "Did you know that babe yaks are called Naks?"].sample %>
				<input type="hidden" name="herd_id" value="<%= @herd.id %>" />
				<%= f.hidden_field :geo_lat %>
				<%= f.hidden_field :geo_long %>
				<%= f.file_field :photo, :capture => "camera", :accept => "image/*" %>
				<a href="#" class="button" id="trigger_grunt_photo">Ph</a>
				<%= f.submit "Yaaak" %>
				<img id="grunt_preview" />
			<% end %>

			<ul class="chat-list" id="chat_list" data-herdid="<%= @herd.id %>"></ul>

			<div class="popup">
				<div class="popup-header">
					<h2><span class="short_user_name"></span>: <span class="user_name"></span> <small>(<span class="grunt_count"></span> grunts)</small></h2>
				</div>
				<div class="popup-content">
					<h3>Last Grunt</h3>
					<div class="message">
						<span class="last_grunt"></span>
					</div>
					<div class="button block-user" data-userid="0">Block User</div>
				</div>
			</div>
		</div><!-- /herd -->
		<div class="herd-sb">
			<h1 id="nameOfHerd">Roamin'</h1>
			<ul class="herd-stats">
				<li><%= @herd.yaks.length %><span> Yaks in this herd</span></li>
				<li><strong id="grunt_count"><%= @herd.grunts.length %></strong><span> total grunts</span></li>
				<li><%= @herd.herd_radius %><span> mile radius</span></li>
				<li><strong id="distanceFromCenter">0</strong><span> miles from center</span></li>
			</ul><!-- /states -->
			<div class="range-actions">
				<%= link_to 'Leave the herd', root_path, {:class => 'leave-herd i-leftarrow'} %>
			</div><!-- /range actions -->
		</div><!-- /sb -->
	</div><!-- /w -->
</div><!-- /yield -->