<div class="yield">
	<div class="w">
		<div class="herd">
			<%- title "New Herd" %>
			<ul class="chat-list" id="chat_list" data-herdid="<%= @herd.id %>"></ul>

			<%= form_for @grunt do |f| %>
			<% if @grunt.errors.any? %>
				<div id="error_explanation">
					<h2><%= pluralize(@grunt.errors.count, "error") %> prohibited this major from being saved:</h2>
					<ul>
						<% @grunt.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
						<% end %>
					</ul>
				</div>
			<% end %>
				<%= f.text_field :message, :placeholder => "Did you know the yak is the mightiest animal in the Midwest?" %>
				<input type="hidden" name="herd_id" value="<%= @herd.id %>" />
				<%= f.hidden_field :geo_lat %>
				<%= f.hidden_field :geo_long %>
				<%= f.hidden_field :yak_id, :value => 1 %>
				<%= f.submit "Grunt" %>
			<% end %>
		</div><!-- /herd -->
		<div class="herd-sb">


		</div><!-- /sb -->
	</div><!-- /w -->
</div><!-- /yield -->
