<div class="range-grunt" id="range-grunt">
	<%= form_for Grunt.new, :html => { :multipart => true } do |f| %>
		<%= f.text_field :message, :placeholder => "Start yaaakin' to join a herd or start your own" %>
		<%= f.hidden_field :geo_lat %>
		<%= f.hidden_field :geo_long %>
		<%= f.submit "Yaaak!" %>
	<% end %>
</div><!-- /grunt -->

<div id="map_canvas"></div>

<!-- At the bottom of your page but inside of the body tag -->
<ol class="joyride-list" data-joyride style="display:none">
  <li data-text="Next">
  <br/>
    <p style="color: white;">Welcome to Yaaak! Wondering what's going on around you but have no one to talk to? Come join the herd!</p><br/>
    <p style="color: white;">If you see a maker then a heard is already there, so start yaaakin! If you don't see any markers, use the chat bubbles in the top menu to start a herd around you.</p>
  </li>
  <li data-id="show-grunt" data-class="custom so-awesome" data-text="Got it!" data-options="tipLocation:left;tipAnimation:fade">
  <br/>
    <p style="color: white;">If you don't see a herd, then start one!</p><br/>
  </li>
</ol>